*{
    padding:0;
    margin:0;
}
.logo{
    color: black;
}
body{
    line-height: 1.8;
}
.navbar-nav{
    margin-inline-start: auto;
   
}
.navbar-nav a:hover{
    color:darkgoldenrod;
}
h1,h2{
    font-weight: 900;  
}

a{
    text-decoration: none;
    font-weight: 800;
    transition: all 0.4s ease;
}
.navbar{
    box-shadow: 0 12px 20px rgba(0,0, 0, 0.1);
}
.signup{

    margin-top: 10%;
    margin-left: 28%;
    margin-right:28%;
    border: 2px solid black;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
footer{
    
    color: black;
    height: 5em;
    background-color:rgb(241, 234, 234);
    margin-top:50px;
    text-align: center;
   }
   .form-group button{
    background-color: black;
   }

   .form-group button:hover{
    background-color: black;
   }